@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea:focus, button:focus {outline: 0 solid;}
a:hover{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0 0 15px;
	font-weight: 700;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px 0;
}

.service-box-bg-1{background-image: url(../img/Screenshot_1.png);}
.service-box-bg-2{background-image: url(../img/bg4.jpg);}
.service-box-bg-3{background-image: url(../img/Screenshot_3.png);}

.service-box-bg {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 200px;
}
.service-box-inner {
    border: 1px solid #f3f3f3;
    border-top: 0px solid;
    padding-bottom: 50px;
    padding-top: 15px;
}
.single-service-box {
    position: relative;
}



.service-box-inner h3 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

p.service-meta {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

a.boxed-btn {
    display: inline-block;
    border: 1px solid #999;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #999;
}
.service-box-more-wrap {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
    background: #fff;
}
