@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea:focus, button:focus {outline: 0 solid;}
a:hover{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0 0 15px;
	font-weight: 700;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px 0;
}
.single-service-box {
    display: block;
    border: 2px solid #e8eBeB;
    border-radius: 3px;
    padding: 30px;
    text-align: center;
    position: relative;
    color: #333;
    padding-top: 58px;
}
.service-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #54be73;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    border-radius: 50%;
    left: 50%;
    margin-left: -35px;
    top: -35px;
}
.single-service-box p {
    margin: 0;
}
.single-service-box h3 {
    font-size: 20px;
}
.single-service-box:hover {
    color: #333;
}